@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
       url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: #ffc92f;
  --red: #d82727;
  --black: #1b1b1b;
  --white: #ffffff;
  --fontTitle: 'Yanone Kaffeesatz', Arial, sans-serif
}

html, body {
  height: 100%;
}

body {
  font-size: 16px / 1.42;
  font-family: 'Roboto', Arial, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcf5e6;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
  min-width: 1310px;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.hero {
  position: relative;
  height: 100vh;
  min-height: 650px;
  background-color: var(--yellow);
  background-image: url('./img/bg/hero.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 130px;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 72%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1290px;
  margin: 0 auto;
  padding-top: 27px;
}

.mail {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.mail__title {
  margin-bottom: 3px;
}

.mail__content {
  background-color: var(--black);
  color: var(--yellow);
  padding: 5px 10px;
}

.fade-slider {
  width: 100%;
  height: 100%;

}

.fade-slider__item {
  height: 100%;
  background-image: url('./img/content/hero/slider_pic_1.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fade-slider__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-164%, -52%);
}

.lined-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Alegreya", Arial, sans-serif;
  color: var(--white);
  font-size: 63px;
  text-transform: uppercase;
  line-height: 1;
}

.lined-text__word {
  background-color: var(--black);
  padding: 0 17px 8px;
  margin-top: -7px;
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.lined-text__word--color-yellow {
  color: var(--yellow);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.filter__item:not(:last-child) {
  margin-right: 40px;
}

.filter__link {
  font-family: var(--fontTitle);
  text-transform: uppercase;
  padding: 3px 21px;
  color: var(--black);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.filter__link:hover {
  color: var(--red);
}

.filter__item--active .filter__link {
  color: var(--yellow);
  background-color: var(--black);
}

.products {
  margin-bottom: 160px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -27px;
}

.products__item {
  position: relative;
  width: 302px;
  height: 386px;
  background-color: var(--yellow);
  margin-bottom: 35px;
  margin-left: 27px;
}

.products__price {
  position: absolute;
  top: 18px;
  left: -6px;
  width: 126px;
  border-bottom: 45px solid var(--black);
  border-left: 5px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(-181deg);
}

.products__price-amount {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--fontTitle);
  color: var(--white);
  transform: rotate(181deg);
  position: absolute;
  top: 2px;
  right: 28px;
}

.products__item--color-black {
  background-color: var(--black);
}

.products__item--color-black .products__price {
  border-bottom-color: var(--yellow);
}

.products__item--color-black .products__price-amount {
  color: var(--black);
}

.products__item--size-double {
  width: 633px;
  height: 544px;
}

.products__item:hover .products__desc{
  transform: translateY(0%);
}

.products__content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.products__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 30px;
  background-color: rgba(35, 35, 35, .8);
  font-size: 15px;
  color: var(--white);
  transform: translateY(100%);
  transition: transform .3s;
}

.products__desc-text {
  text-align: center;
  margin-bottom: 18px;
}

.products__img {
  display: block;
  max-width: 90%;
  max-height: 100%;
}

.btn { 
  text-transform: uppercase;
  font-family: var(--fontTitle);
  font-size: 24px;
  padding: 2px 30px;
  background-color: var(--black);
  color: var(--yellow);
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--red);
  color: var(--white);
}

.collections {
  margin-bottom: 135px;
}

.collections__list {
  display: flex;
}

.collections__item {
  position: relative;
  min-height: 474px;
  flex: 1;
  overflow: hidden;
  background-image: url('./img/bg/pattern.png');
  background-position: center center;
  background-size: 500px;
}

.collections__item:not(:last-child) {
  margin-right: 30px;
}

.collections__item:before {
  content: "";
  position: absolute;
  display: block;
  height: 176%;
  width: 60%;
  top: -17%;
  left: -18%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.collections__item--type-guys:before {
  background-image: url('./img/collections/collection_man.png');
}

.collections__item--type-girls:before {
  background-image: url('./img/collections/collection_woman.png');
  width: 80%;
  top: -31%;
  left: -25%;
}

.collections__link {
  position: relative;
  display: block;
  padding: 74px 13% 74px 44%;
  text-decoration: none;
  color: inherit;
  height: 100%;
  box-sizing: border-box;
  font-size: 15px;
}

.collections__link:hover .btn {
  background-color: var(--red);
  color: var(--white);
}

.collections__title {
  font-family: var(--fontTitle);
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
}

.collections__desc {
  margin-bottom: 28px;
}

.footer {
  margin-bottom: 115px;
}

.footer__container {
  width: 1105px;
}

.site-menu {
  margin-bottom: 115px;
}

.site-menu__sections {
  display: flex;
  justify-content: space-between;
}

.site-menu__col:not(:last-child) {
  margin-right: 20px;
}

.site-menu__item {
  margin-bottom: 15px;
}

.site-menu__title {
  font-family: var(--fontTitle);
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.site-menu__link {
  color: #737373;
  font-size: 15px;
  text-decoration: none;
}

.site-menu__link:hover {
  color: var(--red);
}

.site-menu__text {
  font-size: 15px;
  color: ver(--black);
  margin-bottom: 30px;
}

.site-menu__text-row {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.extras {
  display: flex;
  margin-bottom: 95px;
}

.extras__col {
  flex: 1;
}

.extras__col:not(:last-child) {
  margin-right: 20px;
}

.extras__best {
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  font-weight: bold;
  font-size: 50px;
  font-family: var(--fontTitle);
  text-transform: uppercase;
  padding: 39px 10%;
  line-height: 1;
}

.extras__col-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url('./img/bg/pattern.png');
  background-position: center center;
  background-size: 500px;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 50px;
}

.socials__link {
  display: block;
  width: 38px;
  height: 38px;
}

.socials__link:hover .socials__icon {
  fill: var(--red);
}

.socials__icon {
  width: 100%;
  height: 100%;
}


