:root {
  --yellow: #ffc92f;
  --red: #d82727;
  --black: #1b1b1b;
  --white: #ffffff;
  --fontTitle: 'Yanone Kaffeesatz', Arial, sans-serif
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: var(--black);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width .3s;
}

.sidebar__hamburger-icon {
  width: 29px;
  height: 29px;
  fill: var(--yellow);
}

.sidebar__hamburger {
  display: block;
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translate(-50%);
}

.sidebar--opened {
  width: 325px;
  padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__hamburger {
  display: none;
}

.sidebar--opened .sidebar__header {
  display: flex;
}

.sidebar__header {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
}

.sidebar__menu {
  position: absolute;
  left: -400px;
  transition: left .3s;
}

.sidebar--opened .sidebar__menu {
  left: 0;
  width: 100%;
  text-align: center;
  transition-delay: .1s;
}

.sidebar__close-icon {
  width: 29px;
  height: 29px;
  fill: var(--yellow);
}

.sidebar__close {
  position: absolute;
  top: -4px;
  right: 23px;
}

.side-menu__item {
 margin-bottom: 20px;
}

.side-menu__link {
  font-size: 20px;
  color: var(--yellow);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--fontTitle);
}
.side-menu__link:hover {
  color: var(--red);
}

.fade-slider {
  position: relative;
  width: 100%;
  height: 100%;

}

.fade-slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity .9s;
}

.fade-slider__item--visible {
  opacity: 1;
}

.fade-slider__item--style-thirts {
  background-image: url('../../static/img/content/hero/slider_pic_1.png');
}

.fade-slider__item--style-tshirts .fade-slider__text {
  left: 50%;
  top: 50%;
  transform: translateX(-164%) translateY(-52%);
}

.fade-slider__item--style-games {
  background-image: url('../../static/img/content/hero/slider_pic_2.png');
}

.fade-slider__item--style-games .fade-slider__text {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.fade-slider__item--style-games .lined-text {
  align-items: center;
}

.fade-slider__item--style-presents {
  background-image: url('../../static/img/content/hero/slider_pic_3.png');
}

.fade-slider__item--style-presents .fade-slider__text {
  left: 0;
  bottom: 0;
  transform: translateY(-120%);
}

.fade-slider__item--style-presents .lined-text {
  align-items: center;
}

.fade-slider__text {
  position: absolute;
}

.lined-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Alegreya", Arial, sans-serif;
  color: var(--white);
  font-size: 63px;
  text-transform: uppercase;
  line-height: 1;
}

.lined-text__word {
  background-color: var(--black);
  padding: 0 17px 8px;
  margin-top: -7px;
  white-space: nowrap;
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.lined-text__word--color-yellow {
  color: var(--yellow);
}

.btn {
  text-transform: uppercase;
  font-family: var(--fontTitle);
  font-size: 24px;
  padding: 2px 30px;
  background-color: var(--black);
  color: var(--yellow);
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--red);
  color: var(--white);
}

.footer {
  margin-bottom: 115px;
}

.footer__container {
  width: 1105px;
}

.site-menu {
  margin-bottom: 115px;
}

.site-menu__sections {
  display: flex;
  justify-content: space-between;
}

.site-menu__col:not(:last-child) {
  margin-right: 20px;
}

.site-menu__item {
  margin-bottom: 15px;
}

.site-menu__title {
  font-family: var(--fontTitle);
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.site-menu__link {
  color: #737373;
  font-size: 15px;
  text-decoration: none;
}

.site-menu__link:hover {
  color: var(--red);
}

.site-menu__text {
  font-size: 15px;
  color: ver(--black);
  margin-bottom: 30px;
}

.site-menu__text-row {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.socials {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 50px;
}

.socials__link {
  display: block;
  width: 38px;
  height: 38px;
}

.socials__link:hover .socials__icon {
  fill: var(--red);
}

.socials__icon {
  width: 100%;
  height: 100%;
}


