.hero {
  position: relative;
  height: 100vh;
  min-height: 650px;
  background-color: var(--yellow);
  background-image: url('../../static/img/bg/hero.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }

  &__arrow-icon {
    width: 80px;
    animation: pulseArrow 4s infinite ease-in-out;
    transform-origin: center;
  }
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 72%;
}

@keyframes pulseArrow {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1.10);
    opacity: 0.85;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
