@import "../../variables.scss";

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    font-family: $font-title;
    text-transform: uppercase;
    padding: 3px 21px;
    color: $dark-font-color;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
  }

  &__link:hover {
    color: $colorful-font-color;
  }

  &__item--active .filter__link {
    color: $accent-font-color;
    background-color: $dark-bg-color;
  }
}
