.header {
  height: 180px;

  &__basket {
    text-decoration: none;
    text-align: center;
    color: inherit;
  }

  &__mail-title {
    margin-bottom: 3px;
  }

  &__banner {
    width: 450px;
    height: 100%;
    background-image: url('../../static/img/decor/slider_text_1.png'),
                      url('../../static/img/decor/header-guys.png');
    background-repeat: no-repeat;
    background-size: 45%, 80%;
    background-position: left, right;
  }

  &__basket-content {
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }

  &__basket-label {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #c33721;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translate(30px, -25px);
    font-weight: 700;
  }

  &__basket-icon {
    display: block;
    width: 100%;
    height: 100%;
  }
}
