//bg
$main-bg-color: #ffc92f;
$dark-bg-color: #1b1b1b;

//color
$accent-font-color: #ffc92f;
$dark-font-color: #1b1b1b;
$hover-font-color: #d82727;

//font
$font-title: 'Yanone Kaffeesatz', Arial, sans-serif;

$yellow: #ffc92f;
$red: #d82727;
$black: #1b1b1b;
$white: #ffffff;

