//bg
$accent-bg-color: #ffc92f;
$dark-bg-color: #1b1b1b;
$colorful-bg-color: #d82727;
$light-bg-color: #ffffff;

//color
$accent-font-color: #ffc92f;
$dark-font-color: #1b1b1b;
$colorful-font-color: #d82727;
$light-font-color: #ffffff;

//border
$accent-border-color: #ffc92f;
$dark-border-color: #1b1b1b;

//font
$font-title: 'Yanone Kaffeesatz', Arial, sans-serif;

$yellow: #ffc92f;
$red: #d82727;
$black: #1b1b1b;
$white: #ffffff;

