.slider {
  position: relative;
  width: 100%;
  height: 100%;

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .9s;

    &--visible {
      opacity: 1;
    }

    &--style-thirts {
      background-image: url('../../static/img/content/hero/slider_pic_1.png');
    }

    &--style-tshirts .slider__text {
      left: 50%;
      top: 50%;
      transform: translateX(-164%) translateY(-52%);
    }

    &--style-games {
      background-image: url('../../static/img/content/hero/slider_pic_2.png');

      & .slider__text {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }

      & .lined-text {
        align-items: center;
      }
    }

    &--style-presents {
      background-image: url('../../static/img/content/hero/slider_pic_3.png');

      & .slider__text {
        left: 0;
        bottom: 0;
        transform: translateY(-120%);
      }

      & .lined-text {
        align-items: center;
      }
    }
  }

  &__text {
    position: absolute;
  }
}
